.advanced-facet {
  .rl-caption {
    font: $reltio-font-normal;
  }
  .rl-property-label {
    &:not(.phone) {
      @include m-rl-flex-element(0, 0, 250px);
    }
  }
  .rl-edit-button {
    margin-right: 13px;
  }

  .rl-edit-button + .rl-edit-button {
    margin-left: -12px;
  }
}
