.togglebuttonfacet {
  .handle-toggle {
    padding-right: 15px;
  }
  .rl-actions {
    max-width: 200px;
    min-width: 200px;
    .active {
      color: $reltio-text-color-blue;
    }
    :not(.active) {
      color: $reltio-color-light-grey;
    }
  }
}
