@mixin checkmark($color: $reltio-color-dark-blue) {
  @extend .x-checkmark-base;
  color: $color;
}

.x-checkmark-base {
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  content: '3';
  font-family: 'Pictos', serif;
  font-size: 13px;
  text-align: right;
  line-height: 21px;
}

.x-field-checkbox {
  padding: 15px 2px 15px 6px;
}

.x-field-checkbox .x-field-mask,
.x-field-radio .x-field-mask {
  &::after {
    @include checkmark(#ccc);
  }
}

.x-input-checkbox,
.x-input-radio {
  visibility: hidden;
}

.x-input-checkbox:checked + .x-field-mask::after {
  color: $reltio-color-dark-blue;
}

.x-item-disabled {
  .x-input-checkbox:checked + .x-field-mask::after {
    color: lighten($reltio-color-dark-blue, 20%);
  }
}
