
.rl-comment-item {

  .first-line {
    font: $reltio-font-large;
    color: $reltio-text-color-ultra-light;
  }

  .second-line {
    font: $reltio-font-large;
    color:  $reltio-text-color-medium;
  }

  img {
    margin: 10px;
  }
}

