.crumb {
  min-height: 33px;
  min-width: 60px;
  background-color: $reltio-crumb-background;
  border-top: 1px solid $reltio-text-color-ultra-light;
  border-bottom: 1px solid $reltio-text-color-ultra-light;
  padding: 0;
  .crumb-item {
    display: inline-block !important;
    padding: 8px 2px 8px 8px;
    .caption {
      padding: 0 15px 0 5px;
      font: $reltio-font-large;
      color: $reltio-text-color-medium;
    }
    .arrow {
      height: 10px;
      padding-left: 6px;
      display: inline-block;
      background: url(../images/reltio/profile/arrow-right.svg) no-repeat;
    }
  }

}
