.expandable-container {
  position: relative;
  display: inline-block;
  min-height: 40px;
  .control-button {
    width: 31px;
    height: 31px;
    position: absolute;
    bottom: 5px;
    right: 5px;

    &.collapsed {
      background: url(../images/reltio/components/container/expand.svg) no-repeat;
      background-size: 100%;
    }
    &.expanded {
      background: url(../images/reltio/components/container/collapse.svg) no-repeat;
      background-size: 100%;
    }
  }

}
