.facetprofileband {
  min-height: 78px;
  overflow: hidden;
  background-size: 1280px 270px;
  background-color: $reltio-background-white;
  .entityBlock {
    margin-right: 30px;
    background: url('../images/reltio/profile/profile-band-2.png');
    background-repeat: repeat-x;
  }
  .profile-avatar {
    margin: 18px 18px 8px 19px;
    width: 45px;
    height: 45px;
    background-size: 47px 47px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 45px;
  }

  .profile-avatar-edit {
    position: absolute;
    background: url('../images/reltio/profile/photo.svg');
    margin: 18px 18px 8px 19px;
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
  }

  .profile-favorite {
    position: absolute;
    right: 11px;
    top: 12px;
    padding: 0 10px 18px 18px;
    img {
      width: 34px;
      height: 34px;
    }
  }

  .profile-first-line {
    font: $reltio-font-x-large;
    color: $reltio-text-color-dark;
    margin-top: 8px;
  }

  .profile-second-line {
    font: $reltio-font-normal;
    color: $reltio-text-color-medium;
    padding-bottom: 7px;
  }

  .profile-third-line {
    font: $reltio-font-normal;
    color: $reltio-text-color-light;
  }
}
