.fileupload{
  padding: 2px 9px 6px !important;

  .x-button-icon {
    width: 23px;
    height: 22px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &.x-button-pressing {

    @if alpha($reltio-color-transparent) == 0 {
      background: rgba(0, 0, 0, 0.01 * $reltio-color-pressed-coefficient);
    }
    @else {
      background: darken($reltio-color-transparent, $reltio-color-pressed-coefficient);
    }

    .x-button-label {
      color: darken($reltio-text-color-white, $reltio-color-pressed-coefficient);
    }
  }
}