.viewport-inner {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: $reltio-background-white;
}

.opaquemask {
  background: rgba(0, 0, 0, 0.0) center center no-repeat !important;
  .x-mask-inner {
    background: rgba(0, 0, 0, 0.0) center center no-repeat !important;
    .x-mask-message {
      visibility: hidden;
    }
  }
}

.mainmenu {
  background: $reltio-menu-background;
  font: $reltio-font-x-large;
}

.mainmenu .divider {
  font-size: 0.7em;
  color: $reltio-menu-background;
  padding: 0.2em 1em;
  border-bottom: 1px solid $reltio-menu-background;
  background: $reltio-menu-background;
}

.x-button-mainmenu, .x-button-login {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: $reltio-menu-background none;
  border: 1px solid $reltio-menu-background;
  min-height: 46px;
  width: 265px;

  .x-button-label {
    @include force-wrap();
  }
}

.x-button-mainmenu, .x-button-mainmenu .x-button-label,
.x-button-mainmenu .x-badge,
.x-button-login,
.x-button-login .x-button-label,
.x-button-login .x-badge {
  color: $reltio-text-color-ultra-light;
  text-align: left;
}

.x-button-mainmenu.suppressed {
  opacity: .5;
}

.mainmenu {
  .x-button-icon {
    margin-left: 8px;
    margin-right: 8px;
    height: 39px;
    width: 47px;
    background-size: 50%;
  }
}

.menu-profile-button {
  .x-button-icon {
    margin-left: 13px;
    margin-right: 11px;
    background-size: 42px;
    height: 39px;
    width: 39px;
    border-radius: 39px ;
    -webkit-border-radius: 39px;
    -moz-border-radius: 39px;
  }
  .x-button-label {
    @include force-wrap();
    margin-right: 10px;
  }
  min-height: 46px;
  height: auto;
}

.x-button-mainmenu.x-button-pressing, .x-button-login.x-button-pressing {
  background: $reltio-text-color-medium none;
}

.x-button-mainmenu.x-button-pressing, .x-button-mainmenu.x-button-pressing .x-button-label, .x-button-mainmenu.x-button-pressing .x-badge, .x-button-login.x-button-pressing, .x-button-login.x-button-pressing .x-button-label, .x-button-login.x-button-pressing .x-badge {
  color: $reltio-text-color-light;
}

.menu-separator {
  height: 1px;
  background: rgba(255, 255, 255, .1);
  margin-left: 62px;
}

.create-button {
  &.popup-menu-item-button {
    width: 300px;
  }
}
.global-filter-info {
  font: $reltio-font-normal;
  color: transparentize($reltio-text-color-ultra-light, .7);
  padding: 0 20px 2px 65px;
}
