/**
 * @class Ext.MessageBox
 */
.x-msgbox {
  padding: 0;
  margin: 0;
  max-width: 19em;
  border: 0;

  @include background-image(linear-gradient(top, rgba(231, 232, 232, 1) 1%, rgba(216, 221, 222, 1) 25%, rgba(231, 232, 232, 1) 100%));

  .x-icon {
    margin: 0 0.8em 0 0.5em;
    background: $reltio-background-white;
  }

  .x-msgbox-warning, .x-msgbox-error {
    .x-button {
      border-color: $reltio-color-red;
      .x-button-label {
        color: $reltio-color-red;
      }
    }
  }

  .x-toolbar {
    height: 30px;
  }

  .x-msgbox-title {
    margin: 20px 10px 10px 10px;
    font: $reltio-font-xx-large-bold;

    .x-title {
      color: $reltio-text-color-dark;
      .x-innerhtml {
        word-wrap: break-word;
        white-space: normal;
      }
    }
  }

  .x-dock-body {
    margin: 1px 10px 6px 10px;
  }

  .x-body {
    background: transparent !important;
  }

  .x-toolbar {
    background: transparent none;
    @include box-shadow(none);

    &.x-docked-top {
      // height: 2.1em;
    }
  }

  .x-field {
    padding-top: .5em;
    min-height: .8em;
    margin: 0 0 .6em 0;
    background: transparent;
    @include border-radius(0);
  }

  .x-field-input {
    padding-right: 2.2em;
  }

  .x-form-field {
    min-height: .8em;
    padding: .3em;
    padding-right: 0 !important;
    -webkit-appearance: none;
    background: transparent;
  }
}

.x-msgbox-text {
  //padding: .6em 0;
  // line-height: 1.4em;
  color: $reltio-text-color-medium;
  font: $reltio-font-x-large;
}

.x-msgbox {
  @include border-radius(7px);
  .x-msgbox-buttons {
    padding: 0;
    height: 41px;
    min-height: 41px;

    .x-toolbar-inner {
      @include st-box-align(end);

      .x-button {
        @include st-box-flex(1);
        @include border-radius(0px);
        background-color: transparent;
        border: 1px solid #9da1a0;

        border-bottom-width: 0;
        height: 40px;
        margin: 0;

        &:first-child {
          border-left-width: 0;
        }

        &:last-child {
          border-left-width: 0;
          border-right-width: 0;
        }

        &.x-button-pressing {
          background-color: #fff;
        }

        & .x-button-label {
          font-size: .9em;
          color: $reltio-color-light-blue;
        }
      }
    }
  }
}

