$anchor-height: 12px;
$anchor-width: 20px;

.x-popup {
  .x-toolbar {
    background-color: $reltio-color-popup-title-background;
    color: $reltio-text-color-dark;
    @include create-border-top($reltio-panel-border-radius);
    border-color: $reltio-color-light-grey;

    .x-button-label {
      color: $reltio-text-color-dark;
    }
  }
  .x-title {
    font: $reltio-font-x-large;
  }
  .x-dock {
    margin: 0 !important;
    .x-dock-body {
      margin-bottom: 3px;
    }
  }
  &.x-popup {
    padding: 0 !important;
  }

}

.x-panel.x-floating,
.x-msgbox,
.x-form.x-floating {
  @include border-radius($reltio-panel-border-radius);
  @include background-gradient($reltio-color-white, 'flat');

  &.x-floating-light {
    @include background-gradient($reltio-color-white, 'flat');
  }

  .x-panel-inner,
  > .x-body {
    @include border_radius($reltio-panel-border-radius);
  }
}
.x-anchor-background {
  background-color: $reltio-color-popup-title-background !important;
}
.x-webkit .x-anchor {
  position: absolute;
  overflow: hidden;

  &.x-anchor-top {
    margin-top: -$anchor-height + 2;
    margin-left: -$anchor-width / 2 + 1;
    width: $anchor-width;
    height: $anchor-height;
    -webkit-mask: 0 0 url('../images/reltio/popup/tip_top.svg') no-repeat;
    -webkit-mask-size: $anchor-width $anchor-height;
    background-color: $reltio-color-white;
  }

  &.x-anchor-bottom {
    margin-left: -$anchor-width / 2;
    width: $anchor-width;
    height: $anchor-height;
    -webkit-mask: 0 0 url('../images/reltio/popup/tip_bottom.svg') no-repeat;
    -webkit-mask-size: $anchor-width $anchor-height;
    background-color: $reltio-color-white;
  }

  &.x-anchor-left {
    margin-left: -$anchor-width / 2;
    margin-top: -$anchor-height / 2;
    height: $anchor-width;
    width: $anchor-height;
    -webkit-mask: 0 0 url('../images/reltio/popup/tip_left.svg') no-repeat;
    -webkit-mask-size: $anchor-height $anchor-width;
    background-color: $reltio-color-white;
  }

  &.x-anchor-right {
    margin-top: -$anchor-height / 2;
    margin-left: -2px;
    height: $anchor-width;
    width: $anchor-height;
    -webkit-mask: 0 0 url('../images/reltio/popup/tip_right.svg') no-repeat;
    -webkit-mask-size: $anchor-height $anchor-width;
    background-color: $reltio-color-white;
  }
}

.x-floating.x-panel-light {
  &:after {
    background-color: $base-color;
  }
}
