.profilefacets {
  background-color: $reltio-color-white;

  .x-inner {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .facet {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 120px;

    .image-wrapper {
      height: 77px;
      
      padding: 10px 27px;
      img {
        width: 57px;
        height: 57px;
        border-radius: 35px;
        overflow: hidden;
      }
    }

    .facet-caption {
      display: block;
      font: $reltio-font-small;
      color: #768b99;
      text-align: center;
      padding: 5px 10px 5px 10px;
      width: 120px;
      min-height: 70px;
      @include force-wrap();
    }

    .facet-badge {
      position: absolute;
      left: 50%;
      top: 0;
      font: $reltio-font-x-small;
      color: $reltio-color-white;
      background: $reltio-color-dark-blue;
      border-radius: 15px;
      padding: 3px 6px;
      margin: 9px 0 0 14px;
    }

    .facet-badge:empty {
      display: none;
    }
  }
  
  &:after,
  &:before {
    width: 20px;
    height: 100%;
    display: block;
    content: "";
    position: absolute;
    z-index: 10000;
    background: linear-gradient(to right, $reltio-color-white, transparentize($reltio-color-white, 1));
    pointer-events: none;
  }

  &:after {
    right: 0;
    background: linear-gradient(to left, $reltio-color-white, transparentize($reltio-color-white, 1));
  }
}
