.profileband {
  background-color: $reltio-color-white;
  padding-bottom: 15px;

  .profile-title,
  .profile-subtitle,
  .profile-info {
    @include force-wrap();
    text-align: center;
    
    &:empty {
      display: none;
    }
  }

  .profile-background {
    background-image: url('../images/reltio/profile/profile-band-2.png');
    background-size: 100% 300%;
    background-color: $reltio-color-white;
    background-repeat: repeat;
    height: 100px;
  }

  .profile-favorite {
    position: absolute;
    right: 11px;
    top: 12px;
    padding: 0 10px 18px 18px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .profile-avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 18px;
  }

  .profile-title {
    font: $reltio-font-x-large;
    color: $reltio-text-color-dark;
    padding: 30px 30px 0 30px;
  }

  .profile-subtitle {
    font: $reltio-font-x-large;
    color: $reltio-text-color-medium;
    padding: 2px 30px 0 30px;
  }

  .profile-info {
    font: $reltio-font-normal;
    color: $reltio-text-color-light;
    padding: 10px 30px 0 30px;
  }
}
