/**
 * @class Ext.field.Radio
 */
.x-field-radio .x-field-mask {
  &::after {
    color: transparent;
  }
}

.x-field-radio {
  min-height: 40px;
  margin: 0 2px 0 6px;
}

.x-input-radio:checked + .x-field-mask::after {
  color: $reltio-color-dark-blue;
}

.x-item-disabled {
  .x-input-radio:checked + .x-field-mask::after {
    color: lighten($reltio-color-dark-blue, 20%);
  }
}

.x-reltio-fieldset {
  &:first-child {
    margin-top:1px;
    @include create-border-top($reltio-panel-border-radius);
    .x-form-fieldset-title {
      @include create-border-top($reltio-panel-border-radius);
    }
  }
  .x-form-fieldset-inner {
    border: 0 !important;
    overflow: hidden;
  }

  margin: 0;
  .x-form-label {
    padding: 10px 0 10px 2px;

    span {
      font: $reltio-font-large;
    }
  }
  .x-component-outer {
    padding: 10px 0 10px 2px;
  }

  .x-field-radio {
    font: $reltio-font-x-large;
    color: $reltio-text-color-medium;
    padding: 0 8px 0 0;
    min-height: 30px;
    margin: 0 0 0 20px;
    border-bottom: 1px solid $reltio-text-color-ultra-light;

    &.without-border {
      border: none;
    }
  }

  .x-form-fieldset-title {
    background: $reltio-background-light-grey;
    color: $reltio-text-color-medium;
    font: $reltio-font-normal;
    padding: 6px 2px 4px 20px;
    height: 30px;
  }
}