.rl-relations-item {

  .rl-disabled {
    background:$reltio-color-white !important;
  }

  &.suggested {
    background:$reltio-background-light-blue !important;
  }

  .rl-hidden {
    display:none;
  }
  button {
    @include reltio-button($reltio-color-white, $reltio-text-color-medium);
    padding: 2px 0;
    min-width: 45px;
    &:not(.phone) {
      margin-right: 20px;
    }
    &.phone{
      margin-right: 15px;
    }
    @include st-box-pack(justify);

    img {
      display: inline-block;
      vertical-align: middle;
    }

    div {
      display: inline-block;
      vertical-align: middle;
      font: $reltio-font-normal;
      color: $reltio-text-color-medium;
      margin-left: 6px;
      margin-top: 7px;
      text-align: left;
    }

    &.negative-button {
      img {
        margin-top: 11px;
      }

      div {
        margin-top: 5px;
      }
    }

    &.comment-button {
      margin-right: 0;
    }
  }

  .score {
    margin: 5px 10px 0 0;
    padding: 0 8px;
    border-left: 1px solid $reltio-color-light-grey;
    font: $reltio-font-normal;
    color: $reltio-text-color-medium;
    min-width: 50px;
    &:not(.phone){
      text-align: right;
    }
    &.phone{
      padding-left: 10px;
    }
  }
}

