.treelist {
  background-color: $reltio-background-light-grey;
  margin: 10px 0;


  .rl-relations-tree-item {
    .rl-title.selected {
      font-weight: bold !important;
    }

    button {
      @include reltio-button($reltio-color-white, $reltio-text-color-medium);
      padding: 2px 0;
      min-width: 45px;
      @include st-box-pack(justify);

      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .x-list-item.x-list-item-tpl .x-innerhtml {
    padding: 0 10px !important;

  }

  .x-list-item.x-list-item-tpl {
    background-color: $reltio-color-transparent !important;
  }
}

