.elist {
  margin: 10px;
}

@mixin m-rl-flex-element($flex:1, $shrink:1, $basis: auto, $important:important) {
  @include flex-flex($flex, $shrink, $basis, $important);
}

@mixin m-rl-flex-container-horizontal() {
  @include flex-box();
  @include st-box-orient(horizontal);
  @include st-box-pack();

  &>div {
    @include m-rl-flex-element(1, 1, auto, no);
  }
}

@mixin m-rl-flex-container-vertical() {
  @include flex-box();
  @include st-box-orient(vertical);
  @include st-box-pack();
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;

  &>div {
    @include m-rl-flex-element(0, 0, auto, no);
  }
}

@mixin m-rl-item() {
  display: block;
  padding: 8px 8px 8px 20px;
  background: $reltio-color-white;
  min-height: 50px;
}

.rl-item {
  @include m-rl-item();
  @include m-rl-flex-container-horizontal();

  &.stick-right {
    padding-right: 0;
  }

  &>div {
    min-height: 24px;
  }

  a {
    color: $reltio-text-color-blue;
    font: $reltio-font-normal;
    text-decoration: none;
  }
}

.rl-item-separator {
  border-left: 15px solid $reltio-color-white;
  background-color: $reltio-color-light-grey;

  &.subgroup {
    border-left-width: 128px;
  }

  height: 1px !important;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-color: transparent;
    background-image: linear-gradient(to bottom, $reltio-color-dark-grey 0%, $reltio-color-dark-grey 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 100% 1px;
  }
}

.x-list-item-last {
  .rl-item-separator {
    display: none;
  }
}

.rl-title {
  @include force-wrap();
  font: $reltio-font-x-large;
  color: $reltio-text-color-blue;
  padding: 2px 0;
}

.rl-text {
  @include force-wrap();
  font: $reltio-font-normal;
  color: $reltio-text-color-medium;
  padding: 2px 0;
  position: relative;
  &.reltio-disabled-placeholder {
    color: $reltio-color-disabled;
  }
}

.rl-error-text {
  @include force-wrap();
  font: $reltio-font-x-small;
  color: $reltio-color-invalid;
  position: relative;
  &.reltio-disabled-placeholder {
    color: $reltio-color-disabled;
  }
}

.rl-multiline {
  .rl-error-text{
    padding: 2px 18px;
  }
}

.rl-hbox {
  @include m-rl-flex-container-horizontal();
}

.rl-vbox {
  @include m-rl-flex-container-vertical();
  padding: 0 4px;
}

.rl-tag {
  @include m-rl-flex-element(0, 1);
  @include force-wrap();
  min-width: 50px;
  font: $reltio-font-small;
  color: $reltio-text-color-white;
  background-color: $reltio-text-color-ultra-light;
  border-radius: 1px;
  margin-right: 3px;
  padding: 2px 10px;
}

.rl-tag-list {
  @include m-rl-flex-container-horizontal();
  @include st-box-align(flex-start);
  padding: 5px 0 2px 0;
}

.rl-caption {
  @include force-wrap();
  font: $reltio-font-normal;
  color: $reltio-text-color-light;
  padding: 2px 0;
  text-transform: uppercase;
}


.rl-score {
  @include force-wrap();
  font: $reltio-font-xx-large;
  color: $reltio-text-color-medium;
}
.rl-facet-score {
  padding: 0 10px;
}
.rl-fixed-size {
  @include m-rl-flex-element(0, 0, auto);
}

.rl-shrink {
  @include m-rl-flex-element(0, 1);
}

.rl-align-center {
  @include st-box-pack(center);
  -webkit-justify-content: center;
}

.rl-align-center-self {
  align-self: center;
  -webkit-align-self: center;
}

.rl-fex {
  @include m-rl-flex-element(1, 1, auto, important);
}

.rl-edit-button {
  @include m-rl-flex-container-vertical();
  @include m-rl-flex-element(0, 0, auto);
  @include st-box-pack(justify);

  &>div {
    @include m-rl-flex-element();
    padding: 10px 14px 10px 18px;
    min-width: 5px;
    min-height: 5px;
    background-image: url("../images/reltio/list/edit.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &.info-icon>div {
    background-image: url("../images/reltio/list/info.svg");
  }

  &.menu-icon>div {
    background-image: url("../images/reltio/list/menu.svg");
  }
}

.rl-info-button {
  @include m-rl-flex-container-vertical();
  @include m-rl-flex-element(0, 0, auto);
  @include st-box-pack(justify);

  &>div {
    @include m-rl-flex-element();
    padding: 10px 14px 10px 18px;
    min-width: 5px;
    min-height: 5px;
    background-image: url("../images/reltio/list/info.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.rl-edit-button-tablet {
  padding: 0 12px;
}

.rl-info-button { //TODO: not used
  @include m-rl-flex-container-vertical();
  @include m-rl-flex-element(0, 0, auto);
  @include st-box-pack(justify);

  &>div {
    @include m-rl-flex-element();
    padding: 10px 14px 10px 18px;
    min-width: 5px;
    min-height: 5px;
    background-image: url("../images/reltio/list/info.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.rl-avatar {
  @include m-rl-flex-container-vertical();
  @include m-rl-flex-element(0, 0, auto);
  @include st-box-pack(start);
  padding-right: 15px;

  &>div {
    @include m-rl-flex-element(0, 0, 45px);
    padding: 0;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.rl-big-avatar {
  @include m-rl-flex-container-vertical();
  @include m-rl-flex-element(0, 0, auto);
  @include st-box-pack(start);
  padding-right: 15px;

  &>div {
    @include m-rl-flex-element(0, 0, 50px);
    padding: 0;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.selected {
  & > .rl-avatar-img {
    box-shadow: 0 0 0 0 $reltio-color-light-blue, 0 0 0 3px $reltio-color-light-blue;
  }
}

.rl-selected-image {
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  position: absolute;
  top: 45px;
  left: 50px;
}

.rl-collapsible {
  &:empty {
    display: none !important;
  }
}

.rl-header {
  @include force-wrap();
  background: $reltio-background-light-grey;
  font: $reltio-font-x-large-bold;
  color: $reltio-text-color-dark;
  padding: 15px 2px 15px 15px;
  height: auto;
}

.required:after {
  content: '*';
  color: $reltio-color-red;
}

.rl-property-item {
  min-height: 40px !important;
  &.phone {
    &:not(.collapsed) {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    min-height: 42px !important;
    padding-left: 20px !important;
  }
  &.collapsed {
    min-height: 20px !important;
    padding-bottom: 4px;
    .rl-text {
      padding-top: 0;
    }
  }
  &.invalid {
    .rl-caption {
      color: $reltio-color-invalid;
    }
  }
}
.action {
  .rl-text {
    color: $reltio-color-light-blue
  }
}
.rl-property-label {
  padding-top: 5px;
  padding-right: 5px;

  &:not(.phone) {
    @include m-rl-flex-element(0, 0, 20%);
    min-width: 120px;
    max-width: 200px;
  }
  &:not(.rl-cardinality){
    font: $reltio-font-small;
  }
  text-transform: none !important;
}

.rl-cardinality {
  @include force-wrap();
  font: $reltio-font-x-small;
  color: $reltio-text-color-black-transparent;
}

.rl-property-multiline-container {
  @include m-rl-flex-element(0, 0, 20%);
  min-width: 120px;
  max-width: 200px;
}
.rl-checkmark {
  @include m-rl-flex-element(0, 0, 30px);
  background-image: url("../images/reltio/list/check.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.rl-dependent-disabled {
  .rl-score{
    color: $reltio-color-disabled;
  }
}

.rl-buttons-item {

  .rl-button {
    @include reltio-button($reltio-color-transparent);
    @include m-rl-flex-container-horizontal();
    @include st-box-pack(center);

    &>* {
      @include m-rl-flex-element(0, 1, auto);
      @include force-wrap();
    }
    &>img {
      margin-right: 10px;
    }
  }

  &.text-at-left {
    .rl-button {
      @include st-box-pack(start);
      -webkit-justify-content: flex-start;
    }
  }

  &.separate {
    height: 70px;
    padding: 10px 0;
    background: $reltio-color-transparent;

    .rl-button {
      @include reltio-button();

      margin: 0 5px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      &>* {
        color: $reltio-text-color-white;
      }
    }
  }
}
