.relationsfacet {
  min-height: 40px;
  min-width: 60px;
  background-color: $reltio-background-light-grey;
  border-top: 1px solid $reltio-text-color-ultra-light;
  border-bottom: 1px solid $reltio-text-color-ultra-light;
  padding: 0;
  .relationsfacet-item {
    padding: 13px 9px;
    .caption {
      font: $reltio-font-large;
    }
    .badge {
      font: $reltio-font-x-small;
      color: $reltio-text-color-white;
      border-radius: 15px;
      padding: 3px 6px;
      position: relative;
      top: -2px;
    }
  }

  .relationsfacet-normal-item {
    .caption {
      color: $reltio-color-light-blue;
    }
    .badge {
      background-color: $reltio-color-dark-blue;
    }
  }

  .relationsfacet-gray-item {
    .caption {
      color: $reltio-text-color-medium;
    }
    .badge {
      background-color: $reltio-text-color-medium;
    }
  }

  .reltio-relation-button {
    @include reltio-button($reltio-color-transparent);
    width: 23px;
    height: 23px;
    margin: 9px 5px 9px 0;
    .x-button-icon {
      background: no-repeat center;
      background-size: 100%;
      width: 21px;
      height: 21px;
    }
  }
  .reltio-relation-tree-button {
    margin: 9px 25px !important;
  }

  .relation-cancel-button {
    @include reltio-button($reltio-color-transparent);
    width: auto;
    padding: 0 9px;

    .x-button-label {
      font: $reltio-font-x-large;
      color: $reltio-text-color-medium;
      padding: 11px 0;
    }
  }
  .search-field {
    @include reltio-search-field-inv($reltio-text-color-dark, $reltio-font-normal, $reltio-color-white);
    margin: 0 15px;
  }
}

