.removable-image {
  display: inline-block !important;
  background-size: contain !important;
  margin: 3px;
  .delete-icon {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 22px !important;
    height: 22px !important;
  }
  .spinner-icon {
    position: absolute;
    top: 35px;
    right: 0px;
  }
}
