.searchfilter {
  font: $reltio-font-large;
  color: $reltio-text-color-medium;
  padding: 13px 0;
  background-color: $reltio-background-light-grey;
  border-top: 1px solid $reltio-text-color-ultra-light;
  border-bottom: 1px solid $reltio-text-color-ultra-light;

  &.hidden {
    padding: 0;
    border-top: none;
  }

  .filter {
    margin: 2px 13px;
    display: inline-block;

    &.saved-search {
      margin-bottom: 13px;
    }
  }

  .filter-word {
    color: $reltio-text-color-light;
    padding-right: 5px;
  }

  .title {
    color: $reltio-text-color-light;
    padding-right: 5px;

    &.no-word {
      padding-right: 0;
    }
  }

  .saved-search-name {
    color: $reltio-text-color-blue;
  }

  .label {
    @include force-wrap();
  }

  .clear-button {
    border: none;
    border-left: 1px solid $reltio-text-color-ultra-light;
    color: $reltio-text-color-blue;
    background-color: $reltio-color-transparent;
    padding: 0 10px;
    height: 100%;
  }
}
