.inner-selectbox {
  height:28px;
  width: 100%;
  select {
    direction: rtl;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 38px 2px 2px;
    border: none;
    height: 28px;
    background: transparent;
    color: $reltio-text-color-medium;
  }

  option {
    direction: ltr;
  }
  div {
    position: relative;
    padding-right: 10px;
  }
  .arrow {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  span {
    position: absolute;
    left: 17px;
    padding: 6px 0px;
    pointer-events: none;
    color: transparentize($reltio-text-color-medium, .5);
    text-align: left;
    font: $reltio-font-normal;
  }
}
