.x-toolbar {
  padding: 0;
  background-color: $reltio-color-dark-blue;
  max-height: 45px;
  $toolbar-font: $reltio-font-x-large;
  $toolbar-font-bold: $reltio-font-x-large-bold;
  $toolbar-text-color: transparentize($reltio-color-white, 0.1);
  $toolbar-inv-text-color: $reltio-text-color-medium;
  $toolbar-inv-button-color: $reltio-color-light-blue;

  &.x-docked-top {
    border: none;
  }

  .icon-button {
    @include reltio-toolbar-button();
  }

  .fake-icon-button {
    width: 45px;
    height: 45px;
    visibility: hidden;
  }

  .text-button {
    @include reltio-toolbar-button();
    width: auto;
    padding: 0 9px;

    .x-button-label {
      font: $toolbar-font;
      padding: 13px 4px;
    }
  }

  .label {
    font: $toolbar-font;
    padding: 13px 0;
  }

  .header
  {
    font: $toolbar-font-bold;
    padding: 12px 0;

    .x-innerhtml {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  .search-field {
    @include reltio-search-field($toolbar-text-color, $reltio-font-large, $reltio-toolbar-input-background);
  }

  &.toolbar-inv {
    .search-field {
      background: $reltio-color-transparent;
      height: 28px;
      min-width: 200px;
      margin: 9px 0;

      .x-input-el {
        @include reltio-input-text();

        &::-webkit-input-placeholder {
          color: transparentize($toolbar-inv-text-color, .5);
          -webkit-text-fill-color: transparentize($toolbar-inv-text-color, .5);
        }

        background: $reltio-inv-toolbar-input-background;
        color: $toolbar-inv-text-color !important;
        -webkit-text-fill-color: $toolbar-inv-text-color !important;
      }
      .phone{
        .x-input-el {
          min-width: 180px;
        }
      }
    }

    .text-button {
      .x-button-label {
        color: $toolbar-inv-button-color;
      }
    }

    border-bottom: 1px solid $reltio-text-color-medium;
  }

  .left-space {
    margin-left: 8px;
  }

  .right-space {
    margin-right: 8px;
  }

  * {
    color: $toolbar-text-color;
  }

  &.toolbar-inv *,
  &.x-msgbox-title * {
    color: $toolbar-inv-text-color;
  }

  .search-field {
    @include reltio-clear-icon-inv();
    .phone{
      .x-input-el {
        min-width: 180px;
      }
    }
  }

  &.notification-toolbar {
    max-height: none;
    min-height: 30px;
    background-color: $reltio-background-notification;
    border-bottom: 1px solid $reltio-color-notification-border;

    .notification-message {
      * {
        color: $reltio-text-color-light !important;
      }
      @include flex-flex(1, 1);
      text-align: center;
    }
    .validation-message {
      @include flex-flex(1, 1);
      text-align: left;
      word-break: break-all;
      word-wrap: break-word;
      margin: 16px 0 16px 22px;
      font-size: 13px;
      .validation-header {
        color: $reltio-color-darkest-grey;
      }
      .validation-record {
        color: $reltio-color-darkest-grey;
        margin-left: 10px;
      }
      .validation-record-multiline {
        color: $reltio-color-darkest-grey;
        margin-left: 10px;
      }
    }
  }
}
