.tripletoggle {
  position: relative;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid $reltio-text-color-light;
  background-color: $reltio-color-light-grey;
  overflow: visible;
  transition: background-color .5s, border .5s;
  z-index:100;

  .wrapper {
    background: none;
    opacity: 0;
    transition: opacity .5s, left .5s;
    height: 30px;
    position: absolute;
    overflow: hidden;
    border-radius: 16px;
    width: 100%;
    white-space: nowrap;

    .yes-label,
    .no-label {
      background: none;
      display: inline-block;
      height: 30px;
      width: 38px;
      font: $reltio-font-normal;
      color: white;
      text-align: center;
      padding-top: 4px;
      margin-left: 3px;
      position: relative;
      transition: left .5s;
      left: -25px;
    }

    .no-label {
      margin-left: 42px;
    }
  }

  .thumb {
    position: absolute;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 13px;
    box-shadow: 0 1px 6px $reltio-text-color-light;
    background-color: $reltio-color-white;
    left: 21px;
    margin-top: 1px;
    transition: left .5s, right .5s, margin-left .5s;
  }

  &.on {
    background-color: $reltio-color-light-blue !important;
    border: 1px solid $reltio-color-light-blue !important;

    .thumb {
      left: 41px;
      margin-left: 0;
    }

    .wrapper {
      opacity: 1;

      .yes-label,
      .no-label {
        left: 0;
      }
    }
  }

  &.off {
    background-color: $reltio-menu-background !important;
    border: 1px solid $reltio-menu-background !important;

    .thumb {
      left: 1px;
      margin-left: 0;
    }

    .wrapper {
      opacity: 1;
    }

    .yes-label,
    .no-label {
      left: -56px;
    }
  }

  &.inline-editor {
    padding: 0 !important;
    width: 70px !important;
    top: 4px !important;
    right: 6px !important;
    left: auto !important;
  }
}

.phone {
  .tripletoggle.inline-editor {
    padding: 0 !important;
    top: -11px !important;
    right: 6px !important;
    left: auto !important;
  }
}
