.rl-twohops-item {
  button {
    @include reltio-button($reltio-color-white, $reltio-text-color-medium);
    padding: 2px 0;
    min-width: 45px;
    @include st-box-pack(justify);

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

