@mixin bevel-by-background($bg-color) {
  @if (lightness($bg-color) > 50) {
    @include bevel-text(light);
  } @else {
    @include bevel-text;
  }
}
@mixin bevel-text($type: 'shadow') {
  @if $include-highlights {
    @if $type == shadow {
      text-shadow: rgba(0,0,0,.5) 0 -.08em 0;
    } @else {
      text-shadow: rgba(255,255,255,.25) 0 .08em 0;
    }
  }
}

@mixin create-border-top($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
