// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
//noinspection CssUnknownTarget
@import 'sencha-touch/base';
//noinspection CssUnknownTarget
@import 'sencha-touch/base/all';

@import 'var/utils';
@import 'var/colors';
@import 'var/fonts';
@import 'var/borders';
@import 'var/buttons';
@import 'var/input';
@import 'var/toggle';
@import 'var/spinner';

@import 'mixins/_Class';

@import 'components/Panel';
@import 'components/Menu';
@import 'components/Toolbar';
@import 'components/MessageBox';
@import 'components/Recaptcha';
@import 'components/Popup';
@import 'components/SearchFilter';
@import 'components/ProfileBand';
@import 'components/FacetProfileBand';
@import 'components/ProfileFacet';
@import 'components/RelationsFacet';
@import 'components/Checkbox';
@import 'components/Radio';
@import 'components/FileUpload';
@import 'components/RemovableImage';
@import 'components/Crumb';
@import 'components/ExpandableContainer';
@import 'components/TripleToggle';
@import 'components/Selectbox';
@import 'components/Charts';
@import 'components/charts/PieChart';
@import 'components/charts/Tooltip';
@import 'components/charts/BarChart';
@import 'components/charts/Legend';
@import 'components/charts/Chart';

@import 'components/ReltioList';
@import 'components/RelationsListItem';
@import 'components/CommentListItem';
@import 'components/RelationsTreeItem';
@import 'components/TwoHopsConnectionsListItem';

@import 'components/facets/Facet';
@import 'components/facets/ToggleFacet';
@import 'components/facets/SimpleFacet';
@import 'components/facets/AdvancedFacet';
@import 'components/facets/FavoriteFacet';

@import 'plugins/PullRefresh';
@import 'plugins/SwipeToDelete';

@import 'views/login';
@import 'views/restorepassword';
@import 'views/search';
@import 'views/editsavedsearch';
@import 'views/feedback';
@import 'views/savedsearch';
@import 'views/searchfacet';
@import 'views/profile';
@import 'views/attributesfacet';
@import 'views/twohopsconnections';
@import 'views/dialogs/chooseentity';
@import 'views/dialogs/base';
@import 'views/dialogs/createrelationentity';
@import 'views/dialogs/createrelation';
@import 'views/dialogs/editor';
@import 'views/dialogs/relationshiptype';
@import 'views/dialogs/globalfilterdialog';
@import 'views/dialogs/uploadimage';
@import 'views/dialogs/commentChangeRequest';
@import 'views/dialogs/entities/selectimage';
@import 'views/editrelationattributes';
@import 'views/propertyEditor';
@import 'views/dashboard';

@include st-loading-spinner(1em, $reltio-color-dark-blue, .1em, .25em);

html, body {
  height: 100%;
  background:$reltio-color-dark-blue;
}

.standalone-mobile-app:before{
  display: block;
  content: ' ';
  height:20px;
  top: 0;
  background:$reltio-color-dark-blue;
  position:-webkit-sticky;
  position:sticky;
}

.x-scroll-bar-y {
  width: 4px !important;
}

.x-scroll-indicator {
  width: 4px;
  opacity: .5;

  > * {
    position: absolute;
    background: #333;
  }

  > :first-child {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    overflow: hidden;
  }

  > :nth-child(2) {
    content: none !important;
    background: #333 !important;
  }
}

* {
  font-family: $-reltio-font-family-default !important;
}

.global-filter-saved-searches-link,
a,
a:hover,
a:active,
a:visited {
  color: $reltio-text-color-blue;
  text-decoration: none;
}
