@mixin basedialog() {
  .reltio-list {
    margin: 10px;
    background: $reltio-color-white;

    .x-list-item-last {
      .list-item-separator {
        display: none;
      }
    }
    .add-attribute-button {
      .rl-button-label {
        color: $reltio-text-color-blue;
      }
    }
  }

  .save-new-entity-button {
    @include reltio-button($reltio-color-light-blue);
    height: $-reltio-credentials-form-field-height;
    margin: 10px;

    .x-button-label {
      font: $reltio-font-xx-large;
    }

    border-bottom: 2px solid #0098ff;

    &:active {
      border-bottom: 2px solid darken(#0098ff, 17%);
    }
  }
}