.chooseentitydialog,
.enumeditor,
.chooseattrtype,
.typeaheadeditor,
.lookupeditor {
  .x-field-search {
    @include reltio-search-field-inv($reltio-text-color-dark, $reltio-font-normal, $reltio-color-white);
    background-color: $reltio-background-light-grey;
    padding: 10px;
  }

  .add-new-entity-btn {
    border: none;

    .x-button-icon {
      width: 16px;
      height: 16px;
    }

    .x-button-label {
      text-align: left;
      padding-left: 15px;
      color: $reltio-color-transparent;
      transition: color 0.5s;
    }

    &.expanded {
      height: 50px;
      border-bottom: 1px solid $reltio-color-light-grey;

      .x-button-label {
        color: $reltio-color-dark-blue;
      }
    }

    background-color: $reltio-color-transparent;
    height: 0;
    padding: 0 10px 0 12px;
    margin-left: 15px;
    transition: height 0.5s;
  }
}
