.commentChangeRequestDialog {
  .x-field-input {
    padding: 0;

    .x-clear-icon {
      display: none;
    }
  }
  textarea.x-form-field {
    resize: none;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}
