.globalfilterdialog {
  background-color: $reltio-background-light-grey;
  .mute-toggle-panel {
    height: 50px;
    border-bottom: 1px solid $reltio-text-color-ultra-light;
    background-color: $reltio-color-white;
    padding: 0 20px;

    .toggle-label {
      font: $reltio-font-large-bold;
      color: $reltio-text-color-medium;
    }
  }

  .searchfilter {
    border: none !important;
    padding-left: 7px;
    background-color: $reltio-color-white !important;
  }

  .rl-item-separator.last {
    border-left: none;
  }
}
