.uploadimage {
  background-color: $reltio-background-light-grey;
  @include basedialog();
  .label .x-innerhtml {
    margin: 9px 5px 9px 16px;
    font: $reltio-font-normal;
    color: $reltio-color-disabled;
  }
  .upload-field-input {
    .x-input-el {
      @include reltio-input-text();

      &::-webkit-input-placeholder {
        color: transparentize($reltio-text-color-medium, .5);
        -webkit-text-fill-color: transparentize($reltio-text-color-medium, .5);
        text-align: left;
        font: $reltio-font-normal;
      }

      height: 28px;
      width: 100%;
      padding: 8px 16px;

      font: $reltio-font-normal;
      color: $reltio-text-color-medium;
      background: $reltio-inv-toolbar-input-background;
    }
    padding: 4px 0;
    @include reltio-clear-icon();
  }
}
