.reltio-attributes-facet {
  
  background: $reltio-background-light-grey;
  
  .elist {
    .list-item-header {
      font: $reltio-font-x-large-bold;
      color: $reltio-text-color-dark;
      padding: 15px 2px 15px 15px;
      height: auto;
    }
  }
}
