.dashboardview {
  background-color: $reltio-background-light-grey;

  .dashboard-item {
    margin: 15px;
  }

  &.single-item .dashboard-item {
    margin: 0;
  }

  .show-more-button {
    @include reltio-button($reltio-color-transparent, $reltio-color-light-blue);
    padding: 10px 10px;
    font: $reltio-font-normal;
  }
  .dashboard-chart-chart {
    svg {
      padding-top: 0;
    }
  }
}
