.editsavedsearch {
  background-color: $reltio-background-light-grey;

  .saved-search-delete-button {
    color: $reltio-color-red;
    background-color: $reltio-background-white;
  }

  .rl-header {
    height: 50px;
    border-bottom: 1px solid $reltio-color-light-grey;
  }

  .x-list-item-last {
    .rl-header {
      border-top: 1px solid $reltio-color-light-grey;
      border-bottom: none;
    }
  }

  .rl-text {
    color: $reltio-text-color-light !important;
  }

  .handle-custom-item {
    padding-left: 8px !important;
  }

  .x-field-input {

    @include reltio-clear-icon-inv();

    input {
      @include reltio-input-text();

      font: $reltio-font-x-large !important;
      &::-webkit-input-placeholder {
        font: $reltio-font-x-large !important;
        text-align: left !important;
      }
    }

    padding-right: 38px !important;
  }
}
