.feedback-separator {
  margin-left: 16px;
  background-color: $reltio-text-color-ultra-light;
}

.image-panel {
  padding-top: 30px;
}

.photo-panel {
  border-top: 1px solid $reltio-text-color-ultra-light;
  margin-top: 6px;
  padding-top: 6px;
}

.fileupload {
  padding: 5px 9px;
  background-color: $reltio-text-color-white !important;
  border: 0 solid !important;
}

.feedback {
  .required-field {
    span:after {
      content: '*';
      color: $reltio-color-red;
    }
  }
  .x-label{
    &.required-field {
      .x-innerhtml:after {
        content: '*';
        color: $reltio-color-red;
      }
    }
  }
  textarea {
    border: 0 solid !important;
    font: $reltio-font-normal;
    color: $reltio-text-color-medium;
  }
  .x-form-label {
    span {
      font-weight: normal;
    }
    padding: 6px 0 6px 17px;
    pointer-events: none;
    color: transparentize($reltio-text-color-medium, .5);
    text-align: left;
    font: $reltio-font-normal;
  }


  .x-field-textarea {
    padding: 8px 16px;
    font: $reltio-font-normal;
    color: $reltio-text-color-medium;
    .x-form-label {
      padding: 0px
    }
  }

  .label .x-innerhtml {
    margin: 9px 5px 9px 16px;
    font: $reltio-font-normal;
    color: $reltio-color-disabled;
  }

  .feedback-field-input {
    .x-input-el {
      @include reltio-input-text();

      &::-webkit-input-placeholder {
        color: transparentize($reltio-text-color-medium, .5);
        -webkit-text-fill-color: transparentize($reltio-text-color-medium, .5);
        text-align: left;
        font: $reltio-font-normal;
      }

      height: 28px;
      width: 100%;
      padding: 8px 16px;

      font: $reltio-font-normal;
      color: $reltio-text-color-medium;
      background: $reltio-inv-toolbar-input-background;
    }
    padding: 4px 0;
    @include reltio-clear-icon();


  }
  .feedback-boolean-container{
    height: 32px;
    .x-toggle-field {
      margin: 2px 10px 2px 0;
    }
    .x-label{
      font-weight: normal;
      padding: 6px 0 6px 17px;
      pointer-events: none;
      color: transparentize($reltio-text-color-medium, .5);
      text-align: left;
      font: $reltio-font-normal;
    }
  }

  .invalid-item {
      span {
        color: $reltio-color-red;
      }
  }
}