$-reltio-credentials-form-field-height: 50px;

.reltio-credentials {
  background: $reltio-color-dark-blue;
  -webkit-overflow-scrolling:touch;

  .submit-button {
    @include reltio-button($reltio-color-light-blue);
    height: $-reltio-credentials-form-field-height;

    .x-button-label {
      font: $reltio-font-xx-large;
    }

    border-bottom: 2px solid #0098ff;

    &:active {
      border-bottom: 2px solid darken(#0098ff, 17%);
    }
  }
  .btn-spinner {
    background: transparent;
    background-size: 16px;
    border-bottom: none;
  }
  .transparent-button {
    @include reltio-button($reltio-color-transparent);

    .x-button-label {
      font: $reltio-font-x-large;
    }
  }

  .x-field {
    border: none;
    border-bottom: $reltio-border-width-thin solid $reltio-border-color-input;
    height: $-reltio-credentials-form-field-height + $reltio-border-width-thin;

    &:last-child {
      border-bottom: 0;
      height: $-reltio-credentials-form-field-height;
    }
  }

  .x-field-label {
    background-color: $reltio-color-white;
    color: $reltio-text-color-light;
    font: $reltio-font-x-large;
  }

  .x-label {
    text-align: justify;
    color: $reltio-color-white;
    font: $reltio-font-x-large;
  }

  .x-field-input {
    .x-input-el {
      @include reltio-input-text();

      height: $-reltio-credentials-form-field-height;

      padding: .4em 1em;
      border-width: 0;
      -webkit-appearance: none;

      -webkit-text-fill-color: $reltio-text-color-dark;

      &::-webkit-input-placeholder {
        font: $reltio-font-x-large;
      }

      font: $reltio-font-x-large;
      color: $reltio-text-color-dark;
    }

    @include reltio-clear-icon-inv();
    background-color: $reltio-background-white;
  }
}

.standalone-mobile-app{
  .reltio-credentials {
    padding-bottom: 20px !important;
  }
}