.property-editor {
  background-color: $reltio-background-light-grey;

  .property-editor-spacer {
    height: 50px;
  }

  .property-editor-field {
    .x-input-el {
      @include reltio-input-text();
    }

    textarea {
      height: 180px;
    }

    border-top: 1px solid $reltio-color-light-grey;
    border-bottom: 1px solid $reltio-color-light-grey;
    padding: 10px 10px;
    background-color: $reltio-background-white;

    @include reltio-clear-icon-inv();
  }

  .property-editor-invalid {
    color: $reltio-color-red;
    background-color: $reltio-color-white;
    padding: 0 20px 10px 27px;
    position: relative;
    top: -10px;
    border-bottom: 1px solid $reltio-color-light-grey;
  }
}

.inline-editor-caption {
  @include m-rl-flex-container-vertical ();
  @include st-box-pack(center);
  &>.x-innerhtml {
    @include force-wrap();
    font: $reltio-font-large;
    color: $reltio-text-color-light;
    padding-top: 4px;
  }
}

.rl-inline-editor {
  .x-input-el {
    @include reltio-input-text();
    padding-top: 0;
    padding-bottom: 0;

    font: $reltio-font-normal;
    color: $reltio-text-color-medium;
  }

  textarea {
    height: 180px;
  }

  border-top: none;
  background-color: $reltio-background-white;

  @include reltio-clear-icon-inv();

  .x-input-date {
    min-height: 22px;
  }

  &.invalid {
    input {
      background-image: url('../images/reltio/list/waveline.svg');
      background-repeat: repeat-x;
      background-position-y: 100%;
    }
  }

  &.date-part {
    position: relative;
    top: 2px;
  }

  &.time-part {
    input {
      padding: 0 0;
      width: 1.25em;
      text-align: right;
      margin-top: 4px;
    }
    width: 1.25em;

    &.last {
      margin-right: 10px;
    }
  }
}

.time-separator {
  margin-top: 3px;
}

.rl-required-cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: $reltio-color-red;
  background: $reltio-color-white;
  padding-top: 0.1em;
  padding-left: 1em;

}


.rl-error {
  color: $reltio-color-red!important;
}

.rl-as-inline{
  padding: .4em 1em;
}

.rl-as-inline-new {
  padding: 0 1em;
}

.rl-required-header {
  color: $reltio-color-red;
  padding-left: 1em;
  font-weight: normal;
  font-size: $reltio-font-size-18;
}

.rl-inline-editor-list {
  .x-list-item {
    .x-innerhtml {
      padding: 16px !important;
      color: $reltio-text-color-medium;
    }
  }
}

.popup-menu-item-button {
  @include reltio-button($reltio-color-transparent, $reltio-text-color-dark);
  .x-button-label {
    @include force-wrap();
  }
  width: 200px;
  height: 40px;
  padding: 0 10px;
}
