.reltio-profile {
  
  background: $reltio-background-light-grey;
  
  .elist {
    .interactive {
      color: $reltio-text-color-blue;
    }

    .add-attribute-button {
      .rl-button-label {
        color: $reltio-text-color-blue;
      }
    }
  }
}
