.reltio-restore-info {

  .restore-message {
    text-align: justify;
    color: $reltio-color-white;
  }
  .x-bold {
    font: $reltio-font-x-large;
    color:$reltio-color-white;
    text-align: left;
  }
}
