.savedsearch {
  .rl-ss-first-column {
    @include m-rl-flex-element(0, 0, 30%);
  }

  .rl-ss-total-column {
    @include m-rl-flex-element(0, 0);

    &>div {
      text-align: right;
    }
  }

  .rl-ss-searchfilter {
    background-color: $reltio-color-white !important;
    border: none !important;
    margin: 0 8px 0 0 !important;

    .filter {
      margin: 0 26px 4px 0 !important;
    }
  }

  .rl-ss-filter-caption {
    padding-top: 10px;
  }
  
  .x-field-input {
    
    @include reltio-clear-icon-inv();
    
    input {
      @include reltio-input-text();

      font: $reltio-font-x-large !important;
      &::-webkit-input-placeholder {
        font: $reltio-font-x-large !important;
        text-align: left !important;
      }
    }

    padding-right: 38px !important;
  }

  .hint {
    background-color: $reltio-background-light-grey;
    padding: 15px 20px;
    border-bottom: 1px solid $reltio-text-color-ultra-light;
    border-top: 1px solid $reltio-text-color-ultra-light;
    color: $reltio-text-color-light;
  }
}
