.search-facet {

  .elist {
    margin: 0 10px;
  }
  background: $reltio-background-light-grey;
  .header {
    height: 50px;
    line-height: 50px;
    span {
      display: inline-block;
      vertical-align: middle;
    }
    .filter-button {
      color: $reltio-text-color-medium;
    }
  }
  .elist {
    background: $reltio-background-white;
  }
  .rl-title {
    color: $reltio-color-light-blue;
  }
  :not(.x-list-item-first) + .x-list-item {
    .rl-title {
      color: $reltio-text-color-medium;
    }
  }
  .rl-facetheader-item {
    button {
      @include reltio-button($reltio-color-white, $reltio-text-color-medium);
      padding: 2px 0;
      min-width: 45px;
      @include st-box-pack(justify);

      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .rl-error {
      font: $reltio-font-size-14;
      color: $reltio-color-invalid;
    }
  }

  .hint {
      background-color: $reltio-background-light-grey;
      padding: 15px 20px;
      border-bottom: 1px solid $reltio-text-color-ultra-light;
      border-top: 1px solid $reltio-text-color-ultra-light;
      color: $reltio-text-color-light;
    }
}
