.reltio-search {
  .filter-button,
  .saved-searches-button {
    @include reltio-button($reltio-color-transparent, $reltio-color-light-blue);
    padding: 10px 10px;
    font: $reltio-font-normal;
  }

  .filter-button {
    padding-right: 3px;
  }

  .badge {
    font: $reltio-font-small;
    color: $reltio-text-color-white;
    background-color: $reltio-color-dark-blue;
    border-radius: 15px;
    padding: 3px 6px;
    margin: 8px 0 9px;
  }
}

.open-tag-list-button {
  @include reltio-button($reltio-color-transparent, $reltio-text-color-medium);
  height: 30px;
  padding: 0 5px;

  .x-button-icon {
    background: no-repeat center;
    background-size: 50%;
    width: 30px;
    height: 30px;
  }
}

.searchview {
  .elist {
    margin: 0 !important;
  }
}
