.reltio-two-hops-connections {
  
  background: $reltio-background-light-grey;
  
  .elist {
    .list-item-header {
      font: $reltio-font-x-large-bold;
      color: $reltio-text-color-dark;
      padding: 15px 2px 15px 15px;
      height: auto;
    }

    .search-field {
      @include reltio-search-field-inv($reltio-text-color-dark, $reltio-font-normal, $reltio-color-white);
      margin: 0 15px;
    }
    .inner-search-field {
      @include reltio-search-field-inv($reltio-text-color-dark, $reltio-font-normal, $reltio-color-white);
      .phone{
        .x-input-el {
          min-width: 145px;
        }
      }
      margin: 1px;
      .x-input-el {
        border: 1px solid $reltio-border-light-color-input !important;
      }
    }
  }
}
