/**
It's external styles. Please don't touch it.
*/
.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}
.x.axis path {
  stroke-width: 2px;
  stroke: #ccc;
}
.y {
  .tick{
    pointer-events: none;
    fill: #ccc;
    font-size: 11px;
    font-family: Arial, sans, sans-serif;

  }
}
.y .tick line {
  stroke: #f9fbfb;
}
.x {
  .tick{
    pointer-events: none;
    fill: #666;
    font-size: 12px;
    font-family: Arial, sans, sans-serif;
  }
}
.reltiobarchart{
  overflow: hidden;
  .inner {
    margin-left: 10px;
  }
}