.reltio-menu {
  margin-bottom: 10px;
  .menuItem {
    margin-right: 18px;
    height: 30px;
    width: 30px;
    border: none;
    background: transparent;
    .x-button-icon {
      width: 100%;
      height: 100%;
    }
  }
  .active-item {
    .x-button-icon {
      fill: $reltio-color-selected-blue;
    }
  }
}