.reltio-legend {

  &.top-line {
    border-top: 1px solid #f6f6f6;
  }
  &.centered {
    text-align: center;
  }
  .circle {
    margin-right: 10px;
    border-radius: 50%;
    width: 12px;
    min-width: 12px;
    min-height: 12px;
    height: 12px;
  }
  .legend-item {
    display: flex;
    width: 100%;
    @include st-box-align(center);
    @include st-box-pack(center);
    .name {
      width: 80%;
      max-width: 80%;
      @include force-wrap();
      font-size: 16px;
      font-family: Arial, sans, sans-serif;
      color: #666666;
    }
    .value {
      width: 10%;
      text-align: right;
      font-size: 16px;
      font-weight: bold;
      font-family: Arial, sans, sans-serif;
      color: #666666;
    }
  }

  .legend-item-first {
    @include flex-box();
    display: flex;
    width: 100%;
    @include st-box-align(center);
    @include st-box-pack(center);
    -webkit-justify-content: center;
    .name {
      width: 80%;
      max-width: 80%;
      @include force-wrap();
      font-size: 16px;
      font-family: Arial, sans, sans-serif;
      color: #666666;
    }
    .value {
      margin-right: 10px;
      width: 20%;
      word-wrap: break-word;
      min-width: 20px;
      max-width: 300px;
      text-align: right;
      @include st-box-pack(center);
      -webkit-justify-content: center;
      font-size: 16px;
      font-weight: bold;
      font-family: Arial, sans, sans-serif;
      color: #666666;
    }
  }
  .legend-horizontal {
    display: inline-block!important;
    margin-right: 25px;

    .legend-item-first {
      margin-left: 25px;
      .value{
        width: auto;
        min-width: unset;
        max-width: unset;
      }
    }
  }
  .legend-complex-item {

    .header {
      padding-top: 15px;
      padding-bottom: 5px;
      display: flex;
      width: 100%;
      @include flex-box();
      @include st-box-align(center);
      @include st-box-pack(center);
      -webkit-justify-content: flex-start;
      .name {
        @include force-wrap();
        font-size: 16px;
        font-family: Arial, sans, sans-serif;
        color: #666666;
        max-width: 90%;
      }
    }
    .last{
      padding-bottom: 8px;
    }
    .record {
      display: flex;
      width: 100%;
      margin-left: 23px;
      padding-top: 8px;
      @include flex-box();
      @include st-box-pack(start);
      -webkit-justify-content: flex-start;
      .subname {
        width: 80%;
        @include force-wrap();
        font-size: 16px;
        font-family: Arial, sans, sans-serif;
        color: #949494;
      }
      .subvalue {
        width: 10%;
        text-align: right;
        @include st-box-pack(center);
        -webkit-justify-content: center;
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, sans, sans-serif;
        color: #666666;
      }
    }

  }
}
