/**
It's external styles. Please don't touch it.
*/
.donut-shadow {
  opacity: 0.5
}

.arc-label {
  pointer-events: none;
  fill: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, sans, sans-serif;
}

.donut-title {
  font-size: 21px;
  font-family: Arial, sans, sans-serif;
  color: #333333;
}

.donut-subtitle {
  font-size: 15px;
  font-family: Arial, sans, sans-serif;
  color: #999999;
}
