.ui-tooltip {
  background: white;
  color: #666;
  border: none;
  padding: 0;
  opacity: 1;
  margin: 10px;

  .ui-tooltip-content {
    padding: 10px;

    &.clickable {
      padding-right: 25px;
    }
  }
}

.ui-tooltip-content {
  position: relative;
  padding: 0 10px;
  height: 37px;
  vertical-align: middle;
  display: table-cell;
  max-width: 150px;
  overflow: hidden;
  border: solid 1px #c8c8c8;
}

.ui-tooltip-color {
  border-radius: 50%;
  width: 12px;
  float: left;
  margin-top: 2px;
  margin-right: 8px;
  height: 12px;
  display: inline;
  background-color: black;
}

.before {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.right .before {
  top: 1px;
  left: -7px;
  border-color: transparent #c8c8c8;
  border-width: 7px 8px 7px 0;
}

.right .after {
  top: 2px;
  left: -6px;
  border-color: transparent #fff;
  border-width: 6px 7px 6px 0;
}

.left .before {
  top: 1px;
  right: -7px;
  border-color: transparent #c8c8c8;
  border-width: 7px 0 7px 8px;
}

.left .after {
  top: 2px;
  right: -6px;
  border-color: transparent #fff;
  border-width: 6px 0 6px 7px;
}

.top .before {
  bottom: -7px;
  left: 10px;
  border-color: #c8c8c8 transparent;
  border-width: 8px 8px 0 8px;
}

.top .after {
  bottom: -6px;
  left: 11px;
  border-color: #fff transparent;
  border-width: 7px 7px 0 7px;
}

.bottom .before {
  top: -7px;
  left: 10px;
  border-color: #c8c8c8 transparent;
  border-width: 0 8px 8px 8px;
}

.bottom .after {
  top: -6px;
  left: 11px;
  border-color: #fff transparent;
  border-width: 0 7px 7px 7px;
}

.click-arrow {
  background: url('../images/reltio/components/charts/arrow-right.svg') center no-repeat;
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
}
