.x-list-pullrefresh-arrow {
  background: center center url(../images/reltio/plugins/arrow-down.svg)  no-repeat;
  background-size: 30%;
  padding-bottom: 5px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 200ms;
  @include rotate(0deg);
}

.x-android-2 .x-list-pullrefresh-arrow {
  -webkit-transition-property: none;
  -webkit-transition-duration: 0;
}

.x-list-pullrefresh-release .x-list-pullrefresh-arrow {
  @include rotate(-180deg);
}

.x-list-pullrefresh-release .spinner {
  display: none;
}

.x-list-pullrefresh-pull .spinner {
  display: none;
}

.x-list-pullrefresh {
  top: -50px !important;
  height: 35px !important;
  .spinner {
    padding-top: 15px;
  }
}

.x-list-pullrefresh-message {
  margin-bottom: 0.1em;
}
