.reltio-swipe-edit {
  background-color: $reltio-color-light-blue;
  color: $reltio-text-color-white;
  .x-button-label {
    padding: 0 5px !important;
    @include force-wrap();
  }
}
.reltio-swipe-delete {
  background-color: $reltio-color-delete-button;
  color: $reltio-text-color-white;
  .x-button-label {
    padding: 0 5px !important;
    @include force-wrap();
  }
}
.reltio-swipe-change {
  background-color: $reltio-color-orange;
  color: $reltio-text-color-white;
  .x-button-label {
    padding: 0 5px !important;
    @include force-wrap();
  }
}
