@mixin reltio-button($background-color: $reltio-color-light-blue, $text-color: $reltio-text-color-white) {
  background: $background-color;
  border: none;
  font: $reltio-font-normal;

  &.x-item-disabled {
    background: darken($background-color, $reltio-color-pressed-coefficient);
    border-bottom: 2px solid darken($background-color, $reltio-color-pressed-coefficient);
    .x-button-label {
      color: mix($text-color, $reltio-color-disabled, $reltio-color-disabled-coefficient);
    }
  }

  &:active,
  &.x-button-pressing{
    &:not(.x-item-disabled){
      @if alpha($background-color) == 0 {
        background: rgba(0, 0, 0, 0.01 * $reltio-color-pressed-coefficient);
      }
      @else {
        background: darken($background-color, $reltio-color-pressed-coefficient);
      }

      .x-button-label {
        color: darken($text-color, $reltio-color-pressed-coefficient);
        position: relative;
        top: 1px;
      }
    }
  }

  .x-button-label {
    font: $reltio-font-normal;
    color: $text-color;
  }
}

@mixin reltio-toolbar-button() {
  @include reltio-button($reltio-color-transparent);
  width: 45px;
  height: 45px;

  .x-button-icon {
    background: no-repeat center;
    width: 45px;
    height: 45px;
  }

  &.x-button-pressing {
    .x-button-icon {
      position: relative;
      top: 1px;
    }
    .x-button-label {
      color: transparentize($reltio-color-white, 0.5);
    }
  }

  &.x-item-disabled {
    background: $reltio-color-transparent;
    .x-button-label {
      color: transparentize($reltio-color-white, 0.5);
    }
  }
}

.fake-button-white {
  &:active {
     background-color: rgba(0, 0, 0, 0.01 * $reltio-color-pressed-coefficient) !important;
  }
}

.save-dialog-button {
  @include reltio-button($reltio-color-light-blue);
  height: 50px;
  margin: 10px 0 0 0;

  .x-button-label {
    font: $reltio-font-xx-large;
  }

  border-bottom: 2px solid #0098ff;

  &:active {
    border-bottom: 2px solid darken(#0098ff, 17%);
  }
}
