$reltio-color-white: #ffffff;
$reltio-color-dark-blue: #007AC1;
$reltio-color-light-blue: #03B5FF;
$reltio-color-light-grey: #CCC;
$reltio-color-darkest-grey: #666;
$reltio-color-dark-grey: #999;
$reltio-color-red: #D72126;
$reltio-color-invalid: #D72126;
$reltio-color-delete-button: #FC3D39;
$reltio-color-transparent: rgba(0, 0, 0, 0);
$reltio-color-orange: #FC6B0A;
$reltio-color-notification-border: #ECCF93;

$reltio-text-color-black: #000;
$reltio-text-color-black-transparent: rgba(0,0,0,0.54);
$reltio-text-color-dark: #333;
$reltio-text-color-medium: #666;
$reltio-text-color-light: #999;
$reltio-text-color-ultra-light: #CCC;
$reltio-text-color-white: $reltio-color-white;
$reltio-text-color-blue: $reltio-color-light-blue;

$reltio-color-disabled: $reltio-text-color-light;

$reltio-color-disabled-coefficient: 25%;
$reltio-color-pressed-coefficient: 10%;

$reltio-background-white: $reltio-color-white;
$reltio-background-blue: $reltio-color-dark-blue;
$reltio-background-light-grey: #f6f6f6;
$reltio-background-light-blue: #EDF6FB;
$reltio-background-notification: #FFFAD4;

$reltio-border-color-input: $reltio-color-light-grey;
$reltio-border-light-color-input: $reltio-background-light-grey;

$reltio-menu-background: #344452;
$reltio-toolbar-input-background: #3395cd;
$reltio-inv-toolbar-input-background: #ffffff;

$reltio-color-selected-blue: #016EBD;

$reltio-color-HCP: #99ccff;
$reltio-color-HCO: #a8ef9a;

$reltio-color-popup-title-background: #F7F7F7;
$reltio-color-popup-search-background: lighten($reltio-color-popup-title-background, 20%);

$reltio-crumb-background: #f7f8f9;
