$-reltio-font-family-default: Arial, sans, sans-serif;

$reltio-font-size-20: 20px;
$reltio-font-size-18: 18px;
$reltio-font-size-14: 14px;
$reltio-font-size-11: 11px;

$reltio-font-xx-large: normal $reltio-font-size-20 $-reltio-font-family-default !important;
$reltio-font-xx-large-bold: bold $reltio-font-size-20 $-reltio-font-family-default !important;
$reltio-font-x-large: normal $reltio-font-size-18 $-reltio-font-family-default !important;
$reltio-font-x-large-bold: bold $reltio-font-size-18 $-reltio-font-family-default !important;
$reltio-font-large: normal $reltio-font-size-18 $-reltio-font-family-default !important;
$reltio-font-large-bold: bold $reltio-font-size-18 $-reltio-font-family-default !important;
$reltio-font-normal: normal $reltio-font-size-18 $-reltio-font-family-default !important;
$reltio-font-small: normal $reltio-font-size-14 $-reltio-font-family-default !important;
$reltio-font-x-small: normal $reltio-font-size-11 $-reltio-font-family-default !important;

