@mixin reltio-input() {
  background: $reltio-color-white;
  border: none;
  font: $reltio-font-normal;
}

@mixin reltio-input-text() {
  @include reltio-input();

  &::-webkit-input-placeholder {
    color: $reltio-text-color-light !important;
    -webkit-text-fill-color: $reltio-text-color-light;
    font: $reltio-font-normal;
  }

  padding: .4em 1em;
  -webkit-appearance: none;
  color: $reltio-text-color-dark;
}

@mixin reltio-clear-icon() {
  .x-clear-icon {
    background: transparent url('../images/reltio/fields/clear.svg') no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    width: 2.2em;
    height: 2.2em;
    margin-top: -1.1em;
    right: 0;
  }
}

@mixin reltio-clear-icon-inv() {
  @include reltio-clear-icon();
  .x-clear-icon {
    background-image: url('../images/reltio/fields/clear-inv.svg');
  }
}

@mixin reltio-search-field($text-color, $font, $background, $min-width: 200px, $height: 28px) {
  .x-input-el {
    @include reltio-input-text();

    height: $height;
    min-width: $min-width;
    background: $background;
    font: $font;
    border: none;
    border-radius: 6px;
    color: $text-color !important;
    -webkit-text-fill-color: $text-color !important;

    padding: 6px 30px 6px 30px !important;
  }

  .animated-placeholder {
    font: $font;
    opacity: .5;
    padding: 0 22px;

    background-image: url('../images/reltio/fields/search.svg');
    background-repeat: no-repeat;
    background-position: 0 0;

    position: absolute;
    height: 19px;
    margin-left: -9px;
    margin-top: -9px;
    left: 50%;
    top: 50%;

    overflow: visible;
    cursor: text;
    white-space: nowrap;

    transition: color .5s, opacity .5s, margin-left .5s, left .5s;
  }

  @include reltio-clear-icon();
}

@mixin reltio-search-field-inv($text-color, $font, $background, $min-width: 200px, $height: 28px) {
  @include reltio-search-field($text-color, $font, $background, $min-width, $height);
  @include reltio-clear-icon-inv();

  .animated-placeholder {
    background-image: url('../images/reltio/fields/search-inv.svg') !important;;
  }
}

.toolbar-inv {
  .animated-placeholder {
    background-image: url('../images/reltio/fields/search-inv.svg') !important;;
  }
}

.x-field-focused,
.x-field-clearable {
  .animated-placeholder {
    opacity: 1 !important;
    color: transparent !important;
    margin-left: 0 !important;
    left: 5px !important;
  }
}

.x-field-clearable {
  .animated-placeholder {
    pointer-events: none;
    transition: color 0s, opacity 0s, margin-left 0s, left 0s !important;
  }
}

.x-field-clearable .x-field-input {
  padding-right: 0 !important;
}

.x-field-input {
  overflow: hidden;
}

.x-field-select {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background: #ffffff url('../images/reltio/fields/drop-down.svg');
    right: 12px;
    top: 3px;
    pointer-events: none;
  }
}
