.x-toggle {
  width: 50px;
  height: 30px;
  border-radius: 16px;
  border: 1px solid $reltio-color-light-grey;
  background-color: transparentize($reltio-color-white, .7);
  overflow: visible;
  transition: background-color .5s, border .5s;

  .x-thumb {
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 13px;
    box-shadow: 0 1px 6px $reltio-text-color-light;
    background-color: $reltio-color-white;
    transition: left .5s, right .5s;
    margin: 1px 1px;
  }

  &.x-toggle-on {
    background-color: $reltio-color-light-blue !important;
    border: 1px solid $reltio-color-light-blue !important;

    .x-thumb {
      margin: 1px -1px;
    }
  }

  &.x-item-disabled {
    background-color: transparentize($reltio-color-light-grey, .7);
    border: 1px solid transparentize($reltio-color-light-grey, .8);

    .x-thumb {
      background-color: transparentize($reltio-color-white, .5);
    }
  }
}
