@mixin force-wrap() {
  -ms-word-break: break-all !important;
  word-break: break-all !important;
  word-break: break-word !important;
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  hyphens: none !important;
  white-space: normal !important;
}

@mixin flex-box($important: no) {
  @include st-box($important);
  @if $important == important {
    display: flex !important;
    display: -webkit-flex !important;
  } @else {
    display: flex;
    display: -webkit-flex !important;
  }
}

@mixin flex-flex($flex:1, $shrink: 0, $basis: auto, $important:no) {
  @include st-box-flex($flex, $basis, $important);

  @if $important == important {
    -webkit-box-flex: $flex !important;
    width: $basis !important;
    -moz-box-flex: $flex !important;
    -ms-flex: $flex $shrink $basis !important;
    -webkit-flex-grow: $flex !important;
    -webkit-flex-shrink: $shrink !important;
    -webkit-flex-basis: $basis !important;
    -webkit-flex: $flex $shrink $basis !important;
    flex-grow: $flex !important;
    flex-shrink: $shrink !important;
    flex-basis: $basis !important;
    flex: $flex $shrink $basis !important;
  }
  @else {
    -webkit-box-flex: $flex;
    width: $basis;
    -moz-box-flex: $flex;
    -ms-flex: $flex $shrink $basis;
    -webkit-flex-grow: $flex;
    -webkit-flex-shrink: $shrink;
    -webkit-flex-basis: $basis;
    -webkit-flex: $flex $shrink $basis;
    flex-grow: $flex;
    flex-shrink: $shrink;
    flex-basis: $basis;
    flex: $flex $shrink $basis;
  }

  /*-webkit-box-flex: $flex;
  -ms-flex: $flex 0 auto;
  flex: $flex 0 auto;

  -webkit-box-flex: $flex $shrink;
  -moz-box-flex: $flex $shrink;
  -webkit-flex: $flex $shrink;
  -ms-flex: $flex $shrink;
  flex: $flex $shrink;*/

  /*@if $important == important {
    -webkit-box-flex: $flex !important;
    -webkit-box-flex: $flex $shrink $basis !important;;
    -ms-flex: $flex $shrink $basis !important;;
    flex: $flex $shrink $basis !important;;
  }
  @else {
    -webkit-box-flex: $flex;
    -webkit-box-flex: $flex $shrink $basis;
    -ms-flex: $flex $shrink $basis;
    flex: $flex $shrink $basis;
  }*/
}
